@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 45 20% 98%;
    --foreground: 0 0% 10%;

    --card: 40 15% 96%;
    --card-foreground: 0 0% 10%;

    --popover: 45 20% 98%;
    --popover-foreground: 0 0% 10%;

    --primary: 175 48% 21%;
    --primary-foreground: 45 20% 98%;

    --secondary: 40 15% 96%;
    --secondary-foreground: 0 0% 10%;

    --muted: 40 10% 93%;
    --muted-foreground: 220 9% 46%;

    --accent: 37 54% 51%;
    --accent-foreground: 45 20% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 40 10% 88%;
    --input: 40 10% 88%;
    --ring: 175 48% 21%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body, html {
    @apply scroll-smooth;
  }
}
